#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: white;
  padding: 13px 9px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
