.footer {
  background: var(--secondary-bg-color);
  padding: 60px 0;

  &__wrapper {
    text-align: center;
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
    }
    @include desktop {
      column-gap: 0;
      display: flex;
      text-align: start;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__blok--input {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-self: center;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  &__blok > a {
    margin-bottom: 20px;
  }

  &__address {
    font-style: normal;
  }

  &__address-list {
    margin-bottom: 60px;
    @include desktop {
      margin-bottom: 0;
    }
  }

  &__address-link {
    text-decoration: none;
    color: var(--text-primary-color);
    transform: color 250ms var(--transition-timing);
    &--main {
      @extend .footer__address-link;
      color: var(--primary-white-color);
    }
  }

  &__address-link:hover {
    color: var(--primary-white-color);
  }

  &__address-link:not(:last-child) {
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    text-transform: uppercase;
  }

  &__title + ul {
    margin-bottom: 60px;
  }

  &__form {
    @include desktop {
      display: flex;
      align-items: end;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    @include desktop {
      text-align: start;
      margin-right: 12px;
    }
  }

  &__input-label {
    @extend .footer__title;
    color: #fff;
    font-weight: 700;
  }

  &__input {
    // width: 100%;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    margin-bottom: 20px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 358px;
      margin-bottom: 0;
    }
  }
}
